
.Box1
{
    position:relative;
    left:400px;
    top:40px;
    width: 500px;
  border: 6px solid white;
  padding: 50px;
  height: 250px;
  background-color: white;
}
.Box2
{

    position:relative;
    right:55px;
    top:70px;
    width:500px;
  border: 6px solid white;
  padding: 50px;
  height: 300px;
  left:400px;
  background-color: white;

}
.Outer1 {
    position: relative;
    top:100px;
    left: 250px;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px;
    box-sizing: border-box;

    border-radius: 4px;
    display: flex;

}
.img1
{
    width:120px;
    height:220px;
}
.Info1
{
    position: relative;
    padding-right: 20px;
    font-size:20px;
    bottom:25px;
    left:40px;
}
.img2
{
    position: relative;
    width:120px;
    height: 200px;
    right:40px;
}
.Info2
{
    position: relative;
    left:100px;
    font-size:20px;
    bottom:220px;
    
}